@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body {
  font-family: 'Patrick Hand', cursive;
  background: #f5f5f5;
}

.sketch-box {
  padding: 10px;
  background: white;
  border: 2px solid black;
  filter: url(#sketchy); /* Применяем фильтр к границам */
}

.sketch-card {
  border: 2px solid black !important;
  padding: 10px;
  margin-bottom: 10px;
  background: white;
  box-shadow: 3px 3px 0px black;
  filter: url(#sketchy); /* Применяем фильтр */
}

.sketch-input {
  border: 2px solid black !important;
  box-shadow: 2px 2px 0px black !important;
  font-family: 'Patrick Hand', cursive;
}

.sketch-button {
  background: white !important;
  border: 2px solid black !important;
  box-shadow: 2px 2px 0px black !important;
  font-weight: bold;
  font-family: 'Patrick Hand', cursive;
}

.sketch-button:hover {
  background: #ddd !important;
}



